<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <h1>Login</h1>

    <table>
      <tr>
        <td>Username:</td>
        <td>
          <input type="text" id="username-input" name="username" required>
        </td>
      </tr> 
      <tr>
        <td>Password:</td>
        <td>
          <input type="text" id="password-input" name="password" required>
        </td>
      </tr>
      <tr>
        <td>Unit name:</td>
        <td>
          <input type="text" id="unit-input" name="unit" required>
        </td>
      </tr>
    </table>
      <br>
      <br>

        <!-- <div class="field"> -->
        <!--   <label for="username-input">Username</label> -->
        <!--   <input type="text" id="username-input" name="username" required> -->
        <!--   <div id="username-input-error-message" class="error-message">Empty</div> -->
        <!-- </div> -->

  </body>
</html>
