<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <table>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>quantity</th>
        <th>sold_quantity</th>
        <th>weight</th>
        <th>volume</th>
        <th>category</th>
        <th>purchase_price</th>
        <th>selling_price</th>
        <th>manufacturer</th>
        <th>unit_gain</th>
      </tr>
      {% for product in products %}
        <tr>
          <td>{{ product.name }}</td>
          <td>{{ product.quantity }}</td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>

